*{
  margin: 0;
  padding: 0;
}
header{
    border-bottom: 0.063rem solid black;
    text-align: center;
    
  }
  
  main{
    width: 50rem;
    height: 40rem;
    margin: auto;
    zoom: 140%;
    position: relative;
    margin-top: 2rem;
    
}

  aside{
    width: 180px;
    border: 0.063rem solid black;
    position: absolute;
    right: 0;
    text-align: center;
  }

  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    zoom: 170%;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }
  aside:has(button:active){
    background-color: black;
    color: white;
  }
  button:active{
    background-color: white;
    color: black;
  }
 